<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-购物车</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
		<div class="header_con">
                <div class="header">
                    <div class="welcome fl">欢迎来到天天生鲜!</div>
                    <div class="fr">
                        {{if compare .userName ""}}
                        <!-- 未登录 -->
                        <div class="login_btn fl">
                                <a href="/login">登录</a>
                                <span>|</span>
                                <a href="/register">注册</a>
                            </div>		
                        {{else}}
                        <!-- 已登录 -->
                        <div class="login_btn fl">
                                欢迎您：<em>{{.userName}}</em>
                                <span>|</span>
                                <a href="/user/logout">退出</a>
                            </div>
                        {{end}}
                        <div class="user_link fl">
                            <span>|</span>
                            <a href="/user/userCenterInfo">用户中心</a>
                            <span>|</span>
                            <a href="/user/cart">我的购物车</a>
                            <span>|</span>
                            <a href="user/userCenterOrder">我的订单</a>
                        </div>
                    </div>
                </div>		
            </div>

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
		<div class="search_con fr">
				<form  method="GET" action="/goodsSearch">
					<input type="text" class="input_text fl" name="keywords" placeholder="搜索商品" value="">
					<input type="submit" class="input_btn fr" name="" value="搜索">
				</form>
		</div>		
	</div>
	<div class="total_count">全部商品<em>{{.totalCount}}</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

	{{range .goods}}
		<ul class="cart_list_td clearfix">
			<li class="col01"><input type="checkbox" name="" checked=""></li>
			<li class="col02"><img src="http://94.191.18.219:8888/{{.goodssku.Image}}"></li>
			<li class="col03">{{.goodssku.Name}}<br><em>{{.goodssku.Price}}元/{{.goodssku.Unite}}</em></li>
			<li class="col04">{{.goodssku.Unite}}</li>
			<li class="col05">{{.goodssku.Price}}元</li>
			<li class="col06">
				<div class="num_add">
					<a href="javascript:;" class="add fl">+</a>
					<input type="text" class="num_show fl" value={{.count}}>	
					<a href="javascript:;" class="minus fl">-</a>	
				</div>
			</li>
			<li class="col07">{{.addPrice}}元</li>
			<li class="col08"><a href="javascript:;">删除</a></li>
		</ul>
	{{end}}
	

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>{{.totalPrice}}</em><br>共计<b>{{.totalCount}}</b>件商品</li>
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	

	
</body>
<!-- 单独写script标签引入jquery？ -->
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
// 根据用户购物车变动总价和总件数
	function UpdateGoodsPrice(){
		totalCount=0
		totalPrice  =0
		$('.cart_list_td').find(':checked').parents('ul').each(function(){
				count=$(this).children('.col06').children('.num_add').children('.num_show').val()
				price=$(this).children('.col07').text()
				count=parseInt(count)
				price=parseFloat(price)
				// 叠加
				totalCount+=count
				totalPrice  +=price
			}
		)				
		// alert(totalCount)
		$('.settlements').children('.col03').children('em').text(totalPrice)
		$('.settlements').children('.col03').children('b').text(totalCount)
		$('.total_count').children('em').text(totalCount)		
	}
	// 设置全选与全不选的触发结果
	$('.settlements').find(':checkbox').change(function(){//必须使用find获取这个复选框
		// 获取当前选中状态
		is_checked = $(this).prop('checked')
		// 设置所有状态与其保持一直
		$('.cart_list_td').find(':checkbox').each(function(){
			$(this).prop('checked',is_checked)
		})
	
		// 更新子女的总价格
		UpdateGoodsPrice()
	})
	// 根据商品的改变而改变全选状态
	$('.cart_list_td').find(':checkbox').change(function(){
		checkboxLength=$('.cart_list_td').find(':checkbox').length
		checkedLength=$('.cart_list_td').find(':checked').length
		if(checkboxLength>checkedLength){
			$('.settlements').find(':checkbox').prop('checked',"")
		}else{
			$('.settlements').find(':checkbox').prop('checked',"checked")
		}
		UpdateGoodsPrice()
	})
	
</script>
</html>